<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>
         Reporte Grafana
      </title>
      <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">
   </head>
   <body style="background-color: white;">
      <header class="text-center">
         <h2 class="h2">
            {{ report_name }}
         </h2>
         <h4 class="h4">
            From: {{ from_date }} - To: {{ to_date }}
            {{ host }}
         </h4>
      </header>
      <main>
         {% for row in data_render %}
         <section class="section">
            <div class="row justify-content-center mb-5">
               <div class="col-12 text-center">
                  <h4 class="h4">
                     {{ row['row-name'] }}
                  </h2>
               </div>
            </div>
            <div class="row text-center">
               {% for panel in row['img_panels'] %}
               <span>
                  <img src="{{ panel['url'] }}">
               </span>
               {% endfor %}
            </div>
         </section>
         {% endfor %}
      </main>
      <footer class="footer py-6 bg-gray-800 text-white">
         <div class="container">
            <div class="row">
               <div class="col mb-md-0">
                  <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                     <p class="fw-normal font-small mb-0">
                        &copy; Kyndryl-<span class="current-year">2022</span> - desarrollado por Jose Eduardo Romero Jimenez.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
